@page "/register"
@using Recipe.Web.Data.Models 




    <h3>Registration</h3>
    <br />
    <br />

    <EditForm Model="@user" OnValidSubmit="@CreateAccount">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        @*<div display: inline-block>
            <input type ="email" id="email" @bind="check1" placeholder="Email"/>
        </div>
        <div display: inline-block>
            <input type="password" id="password" @bind="check2" placeholder="Password" />
        </div>*@

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">First Name:</label>
            <InputText class="form-control col-3" @bind-Value="user.FirstName" placeholder="First Name" />
            &nbsp;<ValidationMessage For="@(() => user.FirstName)" />
        </div>
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Last Name:</label>
            <InputText class="form-control col-3" @bind-Value="user.LastName" placeholder="Last Name" />
            &nbsp;<ValidationMessage For="@(() => user.LastName)" />
        </div>
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Email:</label>
            <InputText class="form-control col-3" @bind-Value="user.Email" placeholder="Email" />
            &nbsp;<ValidationMessage For="@(() => user.Email)" />
        </div>
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Password:</label>
            <InputText class="form-control col-3" @bind-Value="user.Password" placeholder="Password" />
            &nbsp;<ValidationMessage For="@(() => user.Password)" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Create Account" />
            @*<button type="button" @onclick="registerClick">Create Account</button>*@

        </div>
    </EditForm>



    <p>@register</p>
    @code {
        private User user { get; set; }

        protected override void OnInitialized()
        {
            user = new User();
        }

        private void CreateAccount()
        {

        }



        //test strings, final version will compare to database -AL
        private string email = "abc@123.com";
        private string password = "1234567890";
        private string check1;
        private string check2;
        private string check3;
        private string register = "";

        //login button event -AL
        private void registerClick()
        {
            if (string.Equals(email, check1) && string.Equals(password, check2))
            { register = "Registration successful"; }
            else
            { register = "Registration Failed"; }
        }
    }
